*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/56c6237b64fc046316e63ce0978f918c.gif);
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: none;
}
.introcell{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
}
.cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}
@keyframes animate {
  100%{
    filter: hue-rotate(360deg );
  }
}
.content {
    padding:auto;
    width:auto;
    position:relative;
    background:  rgba(204, 204, 204)
    background: rgba(204, 204, 204, 0.5);
}
.white-box {
    position: absolute;
    background-color: #FFFFFF;
    color: black;
    width: auto;
    height: auto;
    padding: auto;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/a24cb568fa40046f8562dbc45cea8506.gif) ;
}
.welcome-section > p {
    font-size: 2rem;
    font-weight: normal;
    font-style: oblique;
    color: var(--main-white);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    background-color: rgba(204, 204, 204);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 25.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav-list a:hover {
    background: var(--main-blue);
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  padding: 0 2rem;
  background-color: #282828;
}

.contact-section-header > h2 {
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/Thank-You-5-29-2022.gif) ;
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
